.footer-column:first-child {
    min-width: 300px;
}
.footer-column {
    /* flex: 1; */
    /* min-width: 150px; */
    margin: 10px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-logo img {
    width: 190px;
    margin-right: 10px;
}